<!DOCTYPE html>
<html>
<head>
<title>Basic Signup Website</title>
</head>
<body>

<h1>Hello, My birthday party is on the 3rd of november</h1>
<p>Sign your name and email to wish me a happy birthday.</p>
<form action="/signup" method="POST">
    <label for="user-input">Type your name here:</label>
    <input type="text" id="user-input" name="name" placeholder="Type something..." required>
    <br>
    <label for="user-input">Type your happy birthday message here:</label>
    <input type="text" id="user-input" name="message" placeholder="Type something..." required>
    <button type="submit">Submit</button>
</form>
</body>
</html>